<footer>
    <div class="foot footer-shell text-center py-4">
        <div class="socials">
            <a href="https://www.facebook.com/UrDes-Travel-Agency-100882644441203"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/urdes_travel_agency/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/UrDesTravel"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="copyright">
            Copyright &copy; 2026 UrDes
                <br />
                <b>UrDes Pvt Ltd</b> <br />
                123 Main Street, Anytown, USA
        </div>
        <br />
        <div class="security">
        <div><a href="/privacy">Privacy Policy</a></div>
        <div><a href="/terms">Terms of Service</a></div>
        </div>
    </div>
</footer>