<nav class="navbar navbar-expand-md navbar-light border-bottom sticky-top shadow-sm">
  <div class="container-fluid px-4">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-route"></i><span>UrDes</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto gap-md-2">
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>
    </div>
  </div>
</nav>