<% layout('layouts/boilerplate') %>
<div class="row" style="text-align: center;">
    <div class="alert alert-danger" role="alert">
    <h5 class="mb-2">Error <%= statusCode %></h5>
    <p class="mb-0"><%= message %></p>
    </div>
</div>