<% layout('layouts/boilerplate') %>
<div class="row" style="text-align: center;">
    <div class="alert alert-danger" role="alert">
    You are hovering to a page that does not exist. Please check the URL and try again.
    </div>
</div>